/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --color-lightest: #f0f2f5;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  background-color: #f0f2f5;
  padding: 7.5rem 1.875rem;
}

.form-wrapper {
  min-height: 53rem;
  width: 90rem;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: var(--red);
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
  padding: 0rem 8.75rem;
}

.section-left h1 {
  font-weight: 700;
  font-size: 3.625rem;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

.section-left p {
  color: hsl(0, 0%, 92%);
  font-weight: 600;
  font-size: 1.125rem;
}

.section-right {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 4.375rem;
}

.btn-try-it-free {
  border: none;
  background-color: var(--blue);
  color: hsl(0, 0%, 92%);
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.2);
}

.btn-try-it-free-bold {
  font-weight: 700;
  color: #ffff;
}

.form-secton form {
  padding: 2.5rem;
  background-color: #ffff;
  border-radius: 0.5rem;
}

#input {
  width: 100%;
  padding: 1.375rem;
  margin-bottom: 1.25rem;
  border-radius: 0.313rem;
  border: none;
  border: 0.094rem solid rgb(220, 218, 218);
}

#input-active {
  width: 100%;
  padding: 1.375rem;
  margin-bottom: 1.25rem;
  border-radius: 0.313rem;
  border: none;
  border: 2px solid hsl(0, 73%, 64%);
}

#input-active::placeholder {
  color: transparent;
}

#input-active-email {
  width: 100%;
  padding: 1.375rem;
  margin-bottom: 1.25rem;
  border-radius: 0.313rem;
  border: none;
  border: 2px solid hsl(0, 73%, 64%);
}

input:hover {
  border: none;
  border: 0.094rem solid rgb(65, 65, 143);
}

input:active {
  border: none;
  border: 0.094rem solid rgb(65, 65, 143);
}

.form-input-active {
  opacity: 0;
}

.form-input {
  margin-bottom: 10px;
}

.form-input p {
  float: right;
  color: hsl(0, 72%, 72%) !important;
  font-style: italic;
  font-weight: light !important;
  font-size: 11px !important;
}

::placeholder {
  color: rgb(113, 111, 111);
  font-size: 1rem;
  font-weight: 600;
}

.claim-trial,
.claim-trial-active {
  background-color: var(--green);
  padding: 1.25rem;
  color: rgba(247, 247, 247, 0.858);
  font-size: 1.063rem;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  border: none;
  border: 0.094rem solid hsl(152, 54%, 44%);
  border-bottom: 0.281rem solid hsl(152, 54%, 44%);
  border-radius: 0.313rem;
  margin-bottom: 0.75rem;
}

.claim-trial-active {
  background-color: hsl(154, 54%, 63%);
  color: #ffff;
  border-bottom: 0.281rem solid hsl(152, 42%, 56%);
}

.form-secton p {
  color: rgb(202, 209, 218);
  font-size: 0.688rem;
  font-weight: 700;
  text-align: center;
}

.form-secton .terms-and-services a {
  color: hsl(0, 72%, 72%);
  text-decoration: none;
  font-weight: 700 !important;
}
